body{background: #FAF7F7;}
.image-collage-main{ padding: 0 60px;
  margin-top: 100px;}
.image-collage {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
 
}
.large {
  grid-column: span 2;
  grid-row: span 2;
}
.wide {
  grid-row: span 2;
}
.tall {
  grid-column: span 2;
}


.image-collage > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #ffeead;
}

.gallery-inner-banner {
    padding: 140px 0 0;
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
}


.gallery-inn {
    padding: 10px 20px 70px;
}
.black-header li.nav-item.active .nav-link{background: transparent;}


.black-header .navbar-light .navbar-nav .nav-link {color: #000;}
.black-header .navbar-light .navbar-nav .active > .nav-link {color: #000;}
.black-header .btn-black {color: #000;border-color: #000;}
.black-header .navbar-light .navbar-nav .nav-link:focus, .black-header .navbar-light .navbar-nav .nav-link:hover {color: #000;}
.black-header .navbar-nav li.nav-item .nav-link:after {background: #000;}  
.shrink{background: #fff;}


.gallery-inn img {
  width: 100%; }

.gallery-inn ul {
  padding: 0; }

.gallery-inn li {
  list-style-type: none;
  font-weight: bold;
  font-size: 4rem;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  }

.gallery-inn ul {
  /* autoprefixer: off */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
  grid-gap: 10px;
  margin: 1em;
  }

.gallery-inn li.highlight-box {
  grid-row: span 2;
  grid-column: span 2; }

.gallery-inn li.highlight-tall {
  grid-row: span 2; }

.gallery-inn li.highlight-wide {
  grid-column: span 2; }

.gallery-inn img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%; }




