body {
  background: #131313;
}

.keymilestone-banner {
  background: url(../assets/images/key-banner-top.webp) no-repeat;
  min-height: 425px;
  background-size: cover;
}

.keymilestone-banner-text {
  display: flex;
  min-height: 425px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.keymilestone-banner-text h1 {
  font-size: 72px;
  color: #fff;
  text-transform: uppercase;
}

.keymilestone-banner-text h1 span {
  display: block;
  font-size: 20px;
  font-family: JupiterMissionRegular;
  color: #dbff26;
  margin-bottom: 15px;
}

.keymilestone-key-inner {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 60px;
  justify-content: space-between;
}

.key-milestone-box {
  width: 45%;
  position: relative;
}
.key-milestone-box-in {
  position: relative;
}
.key-milestone-box:nth-child(even) .key-milestone-box-in:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 20px solid #061ae2;
  left: -18px;
  top: 50px;
}

.key-milestone-box:nth-child(odd) .key-milestone-box-in:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid #061ae2;
  right: -19px;
  top: 60px;
}

.key-milestone-box:nth-child(even) {
  margin-top: 400px;
}

.key-milestone-box-in {
  background: #061ae2;
  max-width: 80%;
  margin: 0 auto;
  padding: 25px;
  backdrop-filter: blur(19px);
  margin-top: -100px;
}

.key-milestone-box-in h2 {
  font-size: 64px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.key-milestone-box-in h3 {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 0;
}

.key-milestone-box-in p {
  font-size: 16px;
  color: rgb(255 255 255 / 80%);
  margin: 0;
}

.border-key-milestone {
  position: absolute;
  content: "";
  width: 2px;
  height: 10220px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 1px dashed #4a4a4a;
  top: 706px;
}
.key-milestone-box:nth-child(odd) .key-mile-head {
  text-align: center;
  position: absolute;
  content: "";
  background: #131313;
  color: #fff;
  font-size: 53px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  line-height: 50px;
  padding: 10px;
  top: 45%;
  right: -163px;
}
.key-milestone-box:nth-child(even) .key-mile-head {
  text-align: center;
  position: absolute;
  content: "";
  background: #131313;
  color: #fff;
  font-size: 53px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  line-height: 50px;
  padding: 10px;
  top: 71%;
  left: -164px;
}

.key-mile-head span {
  display: block;
  font-size: 23px;
}
