@media (max-width: 1660px) {
  .border-key-milestone {
    height: 9420px;
  }
  .key-milestone-box:nth-child(odd) .key-mile-head {
    right: -150px;
    top: 38%;
  }

  .key-milestone-box:nth-child(even) .key-mile-head {
    top: 63%;
    left: -150px;
  }
}

@media (max-width: 1440px) {
  .border-key-milestone {
    height: 9170px;
  }
  .key-milestone-box:nth-child(odd):before {
    top: 180px;
  }
  .key-milestone-box:nth-child(even):before {
    top: 180px;
  }
  .border-key-milestone {
    top: 605px;
  }
  .key-milestone-box:nth-child(odd) .key-mile-head {
    top: 32%;
    right: -139px;
  }

  .key-milestone-box:nth-child(even) .key-mile-head {
    left: -139px;
    top: 57%;
  }
}

@media (max-width: 1280px) {
  .keymilestone-key {
    overflow: hidden;
  }
}

@media (max-width: 1199px) {
  .key-milestone-box:nth-child(odd) .key-mile-head {
    top: 24%;
  }

  .key-milestone-box:nth-child(even) .key-mile-head {
    top: 45%;
  }
}

@media (max-width: 991px) {
  .keymilestone-banner-text h1 {
    font-size: 36px;
  }

  .key-milestone-box-in h2 {
    font-size: 32px;
  }

  .key-milestone-box-in h3 {
    font-size: 12px;
  }

  .key-milestone-box-in p {
    font-size: 15px;
  }

  .border-key-milestone {
    height: 8620px;
  }
  .key-milestone-box:nth-child(odd) .key-mile-head {
    font-size: 30px;
    line-height: 32px;
    right: -72px;
    top: 20%;
    padding: 0;
  }
  .key-milestone-box:nth-child(even) .key-mile-head {
    font-size: 30px;
    line-height: 32px;
    left: -72px;
    top: 40%;
    padding: 0;
  }
  .key-mile-head span {
    font-size: 15px;
  }
}

@media (max-width: 575px) {
  .keymilestone-key-inner {
    flex-direction: column;
  }

  .key-milestone-box {
    width: 100%;
  }

  .key-milestone-box:nth-child(even) {
    margin-top: 0;
  }

  .key-milestone-box-in {
    max-width: 100%;
    margin-top: -60px;
  }

  .key-milestone-box:nth-child(odd):before {
    display: none;
  }

  .key-milestone-box:nth-child(even):before {
    display: none;
  }

  .border-key-milestone {
    display: none;
  }
  .key-milestone-box:nth-child(odd) .key-mile-head {
    position: initial;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .key-milestone-box:nth-child(odd) .key-milestone-box-in:before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #061ae2;
    top: inherit;
    bottom: -23px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .key-milestone-box:nth-child(even) .key-mile-head {
    position: initial;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .key-milestone-box:nth-child(even) .key-milestone-box-in:before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #061ae2;
    top: inherit;
    bottom: -23px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .keymilestone-banner-text h1 {
    font-size: 24px;
  }
}
