.clr-blue {
  color: #061ae2;
}

.brands-head {
  padding: 170px 0 130px;
  background: url("../assets/images/our-brands-bg.webp") no-repeat;
  background-size: cover;
  background-position: center;
}

.brands-head .heading h1 {
  position: relative;
  color: #dbff26;
  font-family: JupiterMissionRegular;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;
  text-align: center;
}

.brands-head .desc p {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-family: "Inter";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 30.8px */
  text-align: center;
}

.brands-head .content {
  padding: 0 20%;
}

.brands-cards {
  padding: 100px 0;
  background-color: #f0f1f4;
}

.brands-cards .custom-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6rem;
}

.brands-cards .brands-divider {
  align-self: center;
  width: 60%;
  height: 2px;
  background: rgba(0, 0, 0, 0.2);
}

.brands-container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.brands-container .card-classification {
  width: 25%;
}

.brands-container .card-classification .label span {
  color: #000;
  font-family: JupiterMissionRegular;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
  letter-spacing: 0.56px;
  text-transform: uppercase;
  background-color: #dbff26;
  padding: 0 5px 3px;
  text-align: center;
}

.brands-cards .card-classification .heading h2 {
  color: #000;
  font-family: Hanson-Bold;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.56px;
  text-transform: uppercase;
}
.clr-blue label {
  text-transform: lowercase;
}
a.zpl-lock-btn{pointer-events: none;}
a.zpl-lock-btn .zpl-lock{
    filter: brightness(1) !important;
    -webkit-filter: brightness(1) !important;
    -moz-filter: brightness(1) !important;
}
.brands-card:hover .content .btn-wrapper a img.zpl-lock {
    filter: invert(1)!important;;
    -webkit-filter: invert(1)!important;;
    -moz-filter: invert(1)!important;;
}
.brands-cards .card-classification .desc p {
  color: #000;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.16px;
}

.brands-cards .card-wrapper {
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}

.brands-cards .card-wrapper .brands-card {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
  background-color: #fff;
}

.brands-cards .card-wrapper .card-thumbnail {
  width: 40%;
}

.brands-cards .card-wrapper .card-thumbnail img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.brands-cards .card-wrapper .content {
  padding: 20px 0;
  width: 60%;
}

.brands-cards .card-wrapper .content .heading h3 {
  color: #000;
  font-family: Hanson-Bold;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.4px;
}

.brands-cards .card-wrapper .content .desc p {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.15px;
  padding-right: 40%;
}

.brands-cards .card-wrapper .content .btn-wrapper a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min-content;
  gap: 0.5rem;
  color: #000;
  border-radius: 20px;
  border: 1px solid #000;
  padding: 5px 15px;
}
.brands-cards .card-wrapper .content .btn-wrapper a:hover {
  background-color: #000;
  color: #fff;
}
.brands-cards .card-wrapper .content .btn-wrapper a:hover img {
  filter: brightness(1);
  filter: invert(0);
  filter: brightness(1);
  -webkit-filter: invert(0);
  -ms-filter: brightness(1);
  -moz-filter: invert(0);
}
.brands-cards .card-wrapper .content .btn-wrapper a img {
  filter: brightness(1);
  filter: invert(1);
}

.brands-card {
  height: 200px;
}

.brands-card .content {
  position: relative;
  padding-left: 2rem !important;
  height: 100%;
}

.brands-card .content .heading,
.brands-card .content .desc,
.brands-card .content .btn-wrapper {
  position: relative;
  z-index: 4;
}

.anime-line {
  width: 2%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.line-1 {
  width: 4%;
  background-color: #dbff26;
}
.line-2 {
  background-color: #061ae2;
}
.brands-card .line-1 {
  width: 4%;
  transition: width 300ms ease-out;
  transition-delay: 200ms;
}

.brands-card:hover .line-1 {
  width: 100%;
}

.brands-card .line-2 {
  width: 2%;
  transition: width 300ms ease-out;
}

.brands-card:hover .line-2 {
  width: 98%;
  transition-delay: 400ms;
}

.brands-card .content .heading h3,
.brands-card .content .desc p {
  transition: color 400ms ease-in;
}

.brands-card .content .btn-wrapper a,
.brands-card .content .btn-wrapper a img {
  transition: color 400ms ease-in, border 400ms ease-in;
}

.brands-card .content .btn-wrapper a img {
  transition: filter 400ms ease-in;
}

.brands-card:hover .content .heading h3,
.brands-card:hover .content .desc p,
.brands-card:hover .content .btn-wrapper a,
.brands-card:hover .content .btn-wrapper a img {
  color: white;
  border-color: white;
  filter: brightness(1);
}

.brands-card .card-thumbnail {
  overflow: hidden;
}

.brands-card .card-thumbnail img {
  transition: transform 0.5s ease-in-out;
  display: block;
}

.brands-card:hover .card-thumbnail img {
  transform: scale(1.1);
}

@keyframes slide-1 {
  to {
    width: 100%;
  }
}

@keyframes slide-2 {
  to {
    width: 98%;
  }
}
@media (max-width: 976px) {
  .brands-cards .brands-divider {
    align-self: center;
    width: 80%;
  }

  .brands-cards .custom-container {
    gap: 4rem;
  }

  .brands-container {
    flex-direction: column;
  }

  .brands-container .card-classification {
    width: 100%;
  }

  .brands-container .card-wrapper {
    width: 100%;
  }
  .brands-card {
    height: 250px;
  }
}

@media (max-width: 575px) {
  .brands-container {
    flex-direction: column;
  }
  .brands-container .card-classification {
    width: 100%;
  }
  .brands-container .card-wrapper {
    width: 100%;
  }

  .brands-card .content {
    padding: 1rem !important;
    height: 100%;
  }

  .brands-head {
    padding: 0;
    height: 80vh;
  }

  .brands-head .custom-container {
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: start;
  }

  .brands-head .content {
    padding: 0;
  }

  .brands-head .heading h1 {
    font-size: 16px;
    text-align: left;
  }

  .brands-head .desc p {
    font-size: 15px;
    text-align: left;
  }
  .brands-cards .card-wrapper .brands-card {
    flex-direction: column;
    height: 100%;
  }

  .brands-cards .card-wrapper .card-thumbnail {
    width: 100%;
  }
  .brands-cards .card-wrapper .content {
    width: 100%;
    padding: 20px;
  }

  .brands-cards .card-wrapper .content .desc p {
    padding: 0;
  }
}


.os-logo {
    max-width: 116px;
}


.bran-cards-6 img{object-fit: fill !important;}