@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=block");
#articles {
  width: 100%;
  height: 100%;
}

#articles .heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 120px 0 30px 0;
}

#articles .heading h1 {
  text-align: center;
  font-family: Hanson-Bold;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 72px;
  color: #ffffff;
}

.blog {
  background-color: #fff;
  padding: 100px;
}

.blog .col-sm {
  margin-bottom: 25px;
  max-width: 33.33%;
  flex-basis: auto;
}

.blog-thumbnail img {
  width: 100%;
  border-radius: 10px;
  max-height: 270px;
}

.blog-tags span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  border: 1px solid #00000026;
  border-radius: 15px;
  padding: 2px 12px;
}

.blog-title h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  line-height: 23px;
  transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
}
.blog-title h3:hover {
  color: #061ae2;
}

.blog-date {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}

.blog-tags span.brand {
  margin-right: 5px;
}

.blog-tags {
  margin: 10px 0 6px;
}

.blog-date p {
  margin-bottom: 0;
}

.blog-logo {
  position: absolute;
  right: 25px;
  top: 10px;
}

.blog-logo img {
  width: 4.5rem;
}

#blogPage .blog-head {
  height: 80vh;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  padding: 0 12rem;
}

#blogPage h1 {
  margin-top: 5rem;
  font-family: Hanson-Bold;
  font-style: normal;
  font-weight: 433;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  text-transform: uppercase;
  align-items: center;

  color: rgba(255, 255, 255, 0.4);
}

#blogPage p {
  text-align: left;
  font-family: "just-sans";
  font-style: normal;
  font-weight: 120;
  font-size: 40px;
  line-height: 120%;
  color: rgba(255, 255, 255, 0.7);
}

#blogPage .light {
  color: #fff;
}

#blogPage .blog-recent {
  padding: 5rem 12rem;
  background-color: #fff;
}

#blogPage .blog-recent h2 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 95px;
  color: #000000;
  margin-bottom: 2rem;
}

#blogPage .blog-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr auto;
}

#blogPage .blog-recent .blog-latest {
  max-width: 100%;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  margin-right: 1.5rem;
}

#blogPage .blog-recent .blog-latest .blog-title h3 {
  padding: 1rem;
  padding-bottom: 0;
  margin-bottom: 0.8rem;
}

#blogPage .blog-recent .blog-latest button {
  border: 1px solid #252525;
  border-radius: 50px;
  color: #252525;
  margin: 0 1rem 1.3rem 1rem;
  padding: 8px 20px;
  background-color: transparent;
  border-radius: 100px;
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  z-index: 9999;
  font-size: 14px;
  outline: none;
}

#blogPage .blog-recent .blog-latest:focus {
  outline: none;
}

#blogPage .blog-recent .blog-other {
  display: flex;
  align-items: left;
  justify-content: space-between;
  flex-direction: column;
}

#blogPage .blog-recent .blog-other > div {
  max-width: 100%;
  padding: 0.7rem;
  border: 1px solid #eaeaea;
  border-radius: 10px;
}

#blogPage .blog-recent .blog-other .tag {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 6px;

  color: #061ae2;
}

#blogPage .blog-recent .thumbnail img {
  width: 150px;
  border-radius: 5px;
  margin-right: 2rem;
}

#blogPage .blog-recent .blog-other .title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 550;
  font-size: 18px;
  line-height: 120%;
  color: #000000;
}

#blogPage .all-blogs {
  background-color: #fff;
}

#blogPage .all-blogs h2 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 95px;
  text-align: center;
  color: #000000;
  margin-bottom: 2.3rem;
}

#blogPage .all-blogs .blog {
  padding-top: 0;
}

.blog-content {
  height: 100%;
  padding: 10rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  justify-content: center;
}

.blog-content h1 {
  font-family: Hanson-Bold;
  font-size: 60px;
  letter-spacing: 0rem !important;
  color: black;
  font-weight: 800;
  text-align: center;
}

.blog-content img {
  width: 100%;
  height: auto;
  display: block;
}

#postTitle {
  margin-bottom: 1rem;
}

#postFeatureImage {
  margin: 1rem 0;
  padding: 0 5rem;
}

#postContent {
  margin-top: 1rem;
  padding: 0 5rem;
}
